section{
    width:100%;
    margin-bottom: 15px;
    
}
  
    
#banner-ad{
    height: 570px;
    overflow: hidden;
    position: relative;
    margin-bottom: -8px;
}

#banner-ad .fondo{
    
    width: 100%;
    height: 100%;
}

#banner-ad .box-ad{
    width: 80%;
    height: 140px;
    position: absolute;
    top: 50px;
    left: 10%;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    
}
#banner-ad .box-ad .name{
   margin-left: 18%;
   margin-top: -3%;
   width: 20%;
    
    

}
.user{
    height: 80px;
    width: 80px;
    margin-left: 8%;
    margin-top: 2%;
}
#banner-ad .box-ad #out{
    color: white;
    margin-left: 90%;
    margin-top: 10%;
    
}
.dashboard {
    margin-left: 60%;
    margin-top: -55px;
    width: 330px;
    display: flex;
    justify-content: flex-start;
    background: rgba(255,255,255,10);
    border-radius: 50px;
    
}
.dashboard li{
     list-style: none;
}
.dashboard a{
    font-size: 18px;
    color: #303030;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
    
    
}

.dashboard a:hover{
   color:  #4dbf1c;
}

#banner-ad .box-ad2{
    width: 80%;
    height: 290px;
    position: absolute;
    top: 220px;
    left: 10%;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    
}

#banner-ad .box-ad2 .ride{
    margin-top: 25px;
    margin-left: 100px;
    height: 100px;
    width: 800px;
}
#banner-ad .box-ad2 .titulo{
    margin-bottom: 10px;
    
 }



.box-ad2 .secciones #rides .texto{
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

#rides .texto h2{
    margin-left: 5%;
    text-align: center;
    font-size: 22px;
}

#rides .texto p{
    
    height: 80%;
    width: 30%;
    display: inline-flex;
    
}
.box-ad2 .secciones #comboEspecies {
    color: gray;
    width: 50%;
    height: 30px;
    margin-top: 6%;
    margin-left: 5%;
    
}

.box-ad2 .secciones #combo1 {
    color: gray;
    width: 50%;
    height: 30px;
    margin-top: 3%;
    margin-left: 5%;
    
}
.box-ad2 .secciones #name {
    
    width: 42.3%;
    height: 30px;
    margin-top: 5%;
    margin-left: 5%;
    
}
.box-ad2 .secciones  #altura, #especie{
   
   width: 42.3%;
   height: 30px;
   margin-left: 5%;
    margin-top: 3%;
    
}
.box-ad2 .secciones #nom, #monto{
   
   width: 42.3%;
   height: 30px;
   margin-left: 5%;
    margin-top: 8%;
    
}
.box-ad2 .secciones #rides #descrip{
    
    width: 90%;
    height: 90px;
    margin-top: 4%;
    margin-left: 5%;
    
}



.logout {
    color: white;
    margin-top: 4%;
    margin-left: 90%;
    
}
.logout .icon-logout{
 
  margin-left: -20%;
    
    
}
.logout #out{
    color: white;
    margin-top: -2.4%;
    position: absolute;
}
form button{
    width: 20%;
    height: 25px;
    color: #fff;
    float: right;
    margin-right: 50px;
    background:  #4dbf1c;
    border:none;
    margin-top: -13.5%;
   
}
