
/* el cuerpo de la paginas*/

html,body{
background-image: url('https://kidtopia.mx/uploads/5157.jpeg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

section{
    width:100%;
    margin-bottom: 15px;
    
}
#banner-re{
    margin-top: 46px;
    position: relative;
    margin-bottom: -8px;
}

#banner-re img{
    
    width: 100%;
    height: 100%;
}

#banner-re .box-re{
    width: 60%;
    top: -20px;
    margin-left: 20%;
    color: #fff;
    background-color: rgba(0,0,0,0.5) !important;
    position: absolute;
}

#banner-re  h1{
     text-align: center;
     
     margin-top: 5%;
     font-size: 28px;
    
}

#banner-re .box-re form{
     text-align: center;
     margin: 5% 12%;
     margin-left: 50px;
    
}

#banner-re .box-re form input{
    
    margin-top: 2%;
    width: 100%;
    height: 30px;
   
}

#banner-re .box-re form button{
    
    margin-top: 3%;
    width: 100%;
    height: 30px;
    background: #4dbf1c;
    border: none;
    color: #fff;
    margin-bottom: 3%;
    
    
}

#banner-re .box-re form button:hover{
    
    
    background: #46be12;
    
    
}

#banner-re .box-re form a{
    
    font-size: 14px;
    text-align: center;
    color: white;
    
}




