@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://www.65ymas.com/uploads/s1/25/03/93/conoce-los-proyectos-de-reforestacion-que-hay-en-espana-y-como-participar-en-uno.jpeg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 50px;
margin-left: 10px;
color: #4dbf1c;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color:#4dbf1c;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #4dbf1c;
width: 350px;
margin-top: 35px;
}

.login_btn:hover{
color: black;
background-color: #46be12;
}

.links{
color: white;
margin-top: -50px;
    
}

.links a{
margin-left: 0px;
}

/*============== footer-area css ===============*/
.footer-area {
  background: #04091e; }
.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.news_widget {
  padding-left: 15px; }
  .news_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 15px; }
  .news_widget .input-group input {
    height: 40px;
    background: #fff;
    border-radius: 0px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    outline: none;
    box-shadow: none; }
   
   

.footer_title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-bottom: 28px; }

.icon-right-open{
    width: 40px;
    height: 40px;
    
    border: none;
    
}

.icon-right-open:hover{
    
    color: #fff;
    background: #4dbf1c;
    border: none;
}  


.footer-bottom {
  padding-top: 85px; }
 
   
  .footer-bottom .footer-social {
    text-align: center; 
    
  }

    .footer-bottom .footer-social a {
      font-size: 14px;
      line-height: 30px;
      color: #fff;
      margin-left: 6px;
      transition: all 0.3s linear;
      background: #1e2235;
      height: 30px;
      width: 30px;
      text-align: center;
      display: inline-block;
      transition: all 300ms linear 0s; }
      .footer-bottom .footer-social a:hover {
        color: #fff;
        background: #4dbf1c; }
